*{
    margin: 0;
    padding: 0;
}

.container {
    width: 550px;
    height: 380px;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #38BDF8;
    border-radius: 12px;
    
}
h3 {
    padding-top: 55px;
    color: #FCD34D;
    font-size: 42px;
}
.number-box{
    text-align: center;
    font-family: Cursed Timer ULiL;
    background-color: black;
    margin-top: 20px;
    padding: 40px 30px;
    border-radius: 8px;
}

.point-el{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;    
}
.point{
    border: solid black 2px;
    padding: 10px;
}
.point:hover{
    border: #FCD34D dashed;
}

.point:active{
    background-color:#FCD34D;
}
.score{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}